/*======= BrandDesign start========*/
.brand_design-background {
  width: 100%;
  background: linear-gradient(90.3deg, #ff425c 0%, #ff9774 100%);
  margin-top: 60px;
  padding: 60px 0 60px 0;
}
.brand_design-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.brand_design-item {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.brand_design-text {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

/*======= BrandDesign end========*/

/*======= Brand start========*/
.brand_inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.brand_flex {
  display: flex;
}

.brand_mg-top {
  margin-top: 20px;
}

.brand_mg-top60 {
  margin-top: 60px;
}

.brand_text-01 {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-family: HGHaeDotum, sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 60px;
  padding-left: 20px;
}

.brand_text-02 {
  width: 50%;
  height: 100%;
  text-align: right;
  font-weight: 400;
  line-height: 60px;
  color: #0060d1;
  padding-right: 20px;
}

.brand_name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.brand_name:hover {
  cursor: pointer;
}

.brand_card-box {
  position: relative;
  height: 260px;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
}

.brand_text-03 {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 5px;
  color: #676767;
  font-size: 1.1rem;
}
.ratio_img {
  display: none;
}

/*======= Brand end========*/

@media (max-width: 1200px) {
  .brand_design-item {
    display: none;
  }
  .ratio_img {
    display: block;
    text-align: center;
    width: 283px;
    height: 80px;
  }
  .brand_design-background {
    align-items: center;
    max-width: 1200px;
    height: 200px;
  }
}
