.brand_mg-top{
  margin-top: 20px;
}

.brand_inner {
  width: 1200px;
  margin: 0 auto;
}

.brand_flex{
  display: flex;
}

.brand_text-01{
  width: 50%;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 600;
}

.brand_text-02{
  width: 50%;
  height: 100%;
  text-align: right;
  line-height: 60px;
  color: #0060D1;
}

.brand_name{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.brand_card-box{
  position: relative;
  height: 250px;
  flex-basis:auto;
  flex-grow: 1;
}

.brand_text-03{
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
}