.product-title {
    width: 1150px;
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px;
}

#product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left_button{
    position: absolute;
    top: 0;
    left: 305px;
    position: absolute;
}

.right_button{
    position: absolute;
    top: 0;
    right: 315px;
    position: absolute;
}

.left_button:hover,
.right_button:hover{
    color: #ff4d4f !important;
    border-color: #ff4d4f !important;
}

.slide{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}