.ParentProduct1 {
  position: relative;
}

.product-title {
  width: 1150px;
  margin: 40px auto 20px;
  text-align: left;
}

#product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Product_slide1.swiper {
  width: 1200px;
  height: 100%;
  padding-bottom: 60px;
  position: static;
}

.Product_slide1 .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product_slide1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Product_slide1 .swiper-button-next {
  right: 50%;
  margin-right: -656px;
  top: 38%;
  --swiper-navigation-size: 30px;
  transition: all 0.2s ease;
  --swiper-theme-color: #ff4d4f;
  position: absolute;
}

.Product_slide1 .swiper-button-prev {
  left: 50%;
  margin-left: -656px;
  top: 38%;
  --swiper-navigation-size: 30px;
  transition: all 0.2s ease;
  --swiper-theme-color: #ff4d4f;
  position: absolute;
}

.Product_slide1 .swiper-button-next:hover,
.Product_slide1 .swiper-button-prev:hover {
  scale: 1.1;
}

.parent {
  position: relative;
}

.hotdeal {
  position: relative;
}

.hotdeal::before {
  content: "핫딜";
  position: absolute;
  background-color: #d84c4c;
  width: 50px;
  height: 25px;
  border-radius: 18px 0 18px 18px;
  margin-left: 7px;
  z-index: 10;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
}

.hotdeal::after {
  content: "5일 남음";
  position: absolute;
  background-color: #d84c4c;
  width: 280px;
  height: 25px;
  border-radius: 0 0 18px 18px;
  margin-left: 7px;
  z-index: 10;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
  bottom: 130px;
}

.ant-upload{
  right: 0;
}