
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Product_slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-button-next{
    right: 50%;
    margin-right: -656px;
    top:50%;
    transform: translateY(-100%);
  }

  .swiper-button-prev{
    left: 50%;
    margin-left: -656px;
    top:50%;
    transform: translateY(-100%);
  }

