* {
  text-decoration: none;
  list-style: none;
}
.Navigation {
  display: flex;
  padding-top: 20px;
}
.Navigation li {
  padding-right: 15px;
}
.Navigation li a span {
  padding-right: 5px;
  font-size: 20px;
}
.Navigation li a {
  cursor: pointer;
}
.ant-dropdown-menu {
  width: 280px;
}
@media (max-width: 610px) {
  .MenuOutlined {
    display: none;
  }
  .ant-space-item {
    font-size: 17px !important;
  }
}
