.searchbar {
  width: 500px;
  height: 46px;
}
.searchbar_main {
  padding-right: 60px;
}
.searchbar_main button {
  width: 50px;
  height: 50px;
}
.searchbar_main .ant-form input {
  background-color: rgb(236, 235, 235);
  border: none;
}
.searchbar_icon {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 50px;
  height: 50px;
}

.ant-form {
  position: relative;
}

.anticon-search{
  position: absolute;
  bottom: 5px;
  right: 7px;
}