.flex {
  display: flex;
}
.footer_font-bold {
  font-weight: 600;
}
.footer_font-small {
  width: 22%;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}
.mg_left-10 {
  margin-left: 10px;
}
.mg_top-10 {
  margin-top: 10px;
}
.mg_top-20 {
  margin-top: 20px;
}
.footer_inner {
  width: 1200px;
  margin: 0 auto;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}