.loginpage {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.loginpage_logo {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.loginpage_logo img {
  width: 250px;
}
.loginpage_input-id {
  background-color: white !important;
  border: 1px solid rgb(155, 150, 150) !important;
  height: 50px;
}
.loginpage_input-pw {
  background-color: white !important;
  border: 1px solid rgb(155, 150, 150) !important;
  height: 50px;
}
#basic_password {
  background-color: white !important;
}
.loginpage_form {
  padding-top: 50px;
}
.loginpage_form .ant-row {
  justify-content: center;
}


.loginpage_inner{
  width: 100%;
  margin: auto;
}


.loginpage_button-login {
  max-width: 420px;
  width: 100%;
  margin: 10px;
}

.loginpage_login-autologin{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.loginpage_login-option{
  width: 50%;
}
.loginpage_button-kakao{
  border: 0;
  outline: 0;
  display: flex;
  margin-right: 5px ;
  background-color: white;
  cursor: pointer;
}

.snsLogin{
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}