  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a,
  abbr,
  address,
  article,
  aside,
  audio,
  body,
  canvas,
  caption,
  cite,
  dd,
  details,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  img,
  label,
  legend,
  li,
  menu,
  nav,
  object,
  ol,
  p,
  section,
  span,
  strong,
  summary,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  ul,
  video {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,"Malgun Gothic","맑은 고딕",돋움,Dotum,sans-serif;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  } 